<section class="s-top-banner">
	<div class="top-banner__wrapper">
		<div class="top-banner__content container">
			<div class="top-banner__context">
				<h4>Hi, I'm
					<span class="-red">Minh</span>
					aka
					<span class="-red">Yo</span>
				</h4>
				<h4 class="-box-blue">
					<span class="glitch" data-text="A Front-end developer">
						A Front-end developer
					</span>
				</h4>
				<h4>based in Ho Chi Minh City</h4>
				<h4>
					<span class="-red">Yoroshiku!</span>
				</h4>
				<div class="top-banner__btn">
					<a href="mailto:vuhongminh911@gmail.com" class="btn-common -ico-cup">
						<p>Let's talk!</p>
						<span class="btn-common__ico-cup">
							<img class="-core" src="{{assets_url}}/images/icon/cup/ico-cup.png"/>
							<img class="-part-1" src="{{assets_url}}/images/icon/cup/part-1.png"/>
							<img class="-part-2" src="{{assets_url}}/images/icon/cup/part-2.png"/>
							<img class="-part-3" src="{{assets_url}}/images/icon/cup/part-3.png"/>
						</span>
					</a>
				</div>
			</div>
			<div class="top-banner__avatar">
				<img src="{{assets_url}}/images/avatar.jpg"/>
			</div>
		</div>
	</div>
</section>
